{{extend 'layout.html'}}

<p>
La Maison des Ligues est un établissement du Conseil Régional. Ce n’est pas une entité juridique en propre. 
</p>
<p>
Elle est financée à 100 % par le Conseil Régional. 
</p>
<p>
Pour la gestion de l'outil "Maison des Ligues", une convention de cogestion a été passée entre : 
<ul>
    <li>le Conseil Régional</li> 
    <li>le Comité Régional Olympique et Sportif de Lorraine : CROSL - <i>Le CROSL est une association financée par le ministère via le CNDS (Centre National de Développement du Sport).</i> </li>
</ul>
</p>
<!--{{=BEAUTIFY(response._vars)}}-->
