{{extend 'layout.html'}}
<h3>Modifier une ressource</h3>
<form action="{{=URL('modifierRessource4')}}">
    <table>
        <tr>
            <td>Nouveau nom de la machine : </td>
            <td><input type="text" name="libelle1"/></td>
        </tr>
        <tr>
            <td></br></td>
        </tr>
        <tr>
            <td> Nouveau cout unitaire : </td>
            <td><input type="number" name="cout1"/></td>
        </tr>
    </table>
    <input type="submit" value="Valider" name="Valider"/>
</form>
